body {
  background-color: darkgreen;
}

/* header */
.box1 {
  padding: 8px 19px;
  margin: 1em 0;
  text-align: center;
  color: #2c2c2f;
  background: #cde4ff;
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
}
.box1 p {
  margin: 0;
  padding: 0;
}

/* main */

.porkertable {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 1em 1em;
  margin: 5px 2px;
  font-weight: bold;
  color: #000; /*文字色*/
  border: solid 3px #032002; /*線*/
  border-radius: 30px; /*角の丸み*/
}

.ptctn {
  margin: auto 3px;
  width: 20%;
}
.ptctn img {
  width: 100%;
}

.mytable {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 30px 2px;
  font-weight: bold;
  color: #000; /*文字色*/
  /* border: solid 3px #032002; */ /*線*/
}

.ptctn {
  margin: auto 3px;
  width: 20%;
}
.ptctn img {
  width: 100%;
}

.mytip {
  width: 100%;
  height: 100%;
  position: relative;
  border: solid 3px #5989cf;
  border-radius: 8px;
}

.tips {
  margin: auto 10px;
  text-align: center;
}

.mytip img {
  width: 100%;
  height: 100%;
}

.mytip .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: darkgreen;
  color: #5989cf;
  font-weight: bold;
}
.mytip p {
  margin: 0;
  padding: 0;
}

.min {
  font-size: 12px;
  overflow-wrap: break-word;
}

.tiptable {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 8px auto;
  font-weight: bold;
  color: #000; /*文字色*/
  /* border: solid 3px #032002; */ /*線*/
}

.myhand {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  color: #000; /*文字色*/
  /* border: solid 3px #032002; */ /*線*/
  border-radius: 30px; /*角の丸み*/
  /* カード用 */
  margin: auto 3px;
  width: 70%;
}

.mtctn {
  margin: auto 3px;
  width: 50%;
}

.mtctn img {
  width: 100%;
}

.btn-push {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #ffa300;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  border-bottom: 4px solid #d37800;
}

.btn-push:active {
  transform: translateY(4px);
  border-bottom: none;
}
